*{
    margin: 0;
    padding: 0;
}

#navbar{
    display: flex;
    position: sticky;
    align-items: center;
    top: 0px;
  
}

#logo {
    margin: 10px 15px;
}

#logo img {
    margin: -16px 5px;
}

#navbar ul{
    display: flex;
    font-family: 'Vina Sans', cursive;
    
}


#navbar::before {
    content: "";
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    background-color: black;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

#navbar ul li {
    list-style: none;
    font-size: 1.2rem;

}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 25px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
    border-radius: 5px;
}

#home{
    display: flex;
    flex-direction: column;
    padding: 15px 200px;
    justify-content: center;
    align-items: center;
    height: 550px;
   
}

#home::before {
    content: "";
    position: absolute;
    z-index: -1;
    opacity: 0.89;
    background: url("bg1.jpg") no-repeat center/cover;
    height: 650px;
    width: 100%; 
    top: 0px;
    left: 0px;
}


#home h1{
color: white;
text-align: center;
font-family: 'Bruno Ace SC', cursive;
}
#home p{
color: white;
text-align: center;
font-size: 1.2rem;
font-family: 'Bruno Ace SC', cursive;
}

#service{
   margin: 34px;
   display: flex;
}
#service .box{
    border: 2px solid brown;
    padding: 5px;
    margin: 2px 6px;
    border-radius: 20px;
    background-color: rgb(206, 206, 206)
}
#service .box img{
    height: 200px;
    margin: auto;
    display: block;
}



.h-primary{
    font-size: 3rem;
    padding: 12px;
    font-family: 'Bruno Ace SC', cursive;
 }
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Bruno Ace SC', cursive;
 }
 .btn{
padding: 6px 20px;
background-color: rgb(248, 121, 121);
border: 2px solid rgb(100, 42, 42);
border-radius: 10px;
margin: 12px;
font-family: 'Bruno Ace SC', cursive;
 }
.centre{
    text-align: center;
}

#client-section{
    height: 300px;
    /* position: relative; */
    font-family: 'Oswald', sans-serif;}

#client-section::before{
   content: "";
   background-image: url("istockphoto-1125918613-1024x1024.jpg");
   position: absolute;
   height: 407px;
   width: 100%;
   z-index: -1;
   opacity: 0.4;
   
   
  
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img{
    height: 250px;
}

.client-items{
    padding: 38px 35px;
}

#contact h1{
  margin: 110px 4px;
    
}
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("www.webp")no-repeat center/cover;
    opacity: 0.7;
  
}
footer{
    background-color: black;
    color: white;
    padding: 2px 20px;

}

#contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    /* padding:0.5rem; */
}
#contact-box form{
    width: 40%;
   
}
#contact-box label{
    font-size: 1.3rem;

}

